/*--------------------------------------------------------------
8.1 Panoramic Univeral Styling
--------------------------------------------------------------*/
.clearboth {
	clear: both;
}
.border-bottom {
	border-bottom: 1px solid #e0e0e0;
}
.border-top {
    border-bottom: 1px solid #e0e0e0;
}
ul.no-indent {
	margin-left: 0;
}
ul.no-bullets {
	list-style: none;
}